/* @import './base.css'; */

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Caveat:wght@400;700&family=Hachi+Maru+Pop&family=Inter:wght@100;200;300;400;500;600;700&family=Merriweather+Sans:wght@300;400;500;600&family=Mukta+Mahee:wght@600;700;800&family=Open+Sans:wght@300&family=Poltawski+Nowy&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@1,100;1,300;1,700&family=Rubik:wght@300;400;500&display=swap');


/* /////////////////////////////////// */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  /* font-family: 'Hachi Maru Pop'; */
}
a,
.green {
  text-decoration: none;
  color: rgb(125, 91, 125);
  transition: 0.4s;
}

/* /////////////////////////////////// */


body{
  background-color: rgb(206, 165, 206);
  color: rgb(70, 94, 167);
  font-family:'Hachi Maru Pop', cursive;
  text-transform: capitalize;
}

header{
  color: #FFC73D ;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-weight: bold;
}

header img{
  width: 5%;
  height: 5%;
  margin: auto;
}

form{
  width: 55%;
  margin: 1% auto;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /* background-color: #FFC73D; */
}

form input{
  width: 60%;
  padding: 2%;
  border:  none;
  margin: 1%;
  text-align: center;
  border-radius: 0.8rem;
  font-size: 18px;
  color: #FFC73D;
  font-weight: bold;
}

form input:focus {
 /* border: none; */
 outline: none;
}

form button {
  color: #FFC73D;
}

button {
  border: none;
  border-radius: 0.4rem;
  background-color: rgb(39, 53, 77);
  color: thistle;
  padding: 1% 2%;
  margin: 2%;
  cursor: pointer;
  text-transform: capitalize;
  font-size: bold;
  font-size: 15px;
}

 .task-list {
   margin: auto;
   text-align: center;
   background-color: lightblue;
   padding: 1%;
   border-radius: 2rem;
   font-size: 12px;
 }

 .filter{
  text-align: right;
  margin-right: 8%;
 }

 .task-list h4 {
   text-align: center;
   margin: 1%;
   padding: 1%;
 }

